body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background:linear-gradient(to right, #dfe9f3, #ffffff);
}
nav {
    background-color: #333;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00bcd4;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.hero-text h2 {
    color: #0077ff;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.6;
}

.hero-image img {
    width: 300px;
    border-radius: 50%;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #0077ff;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #005fcc;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 80px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card h3 {
    color: #0077ff;
    margin-bottom: 10px;
}

.card p {
    color: #555;
    line-height: 1.5;
}
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-image img {
        width: 220px;
        margin-top: 25px;
    }

    .cards {
        grid-template-columns: 1fr;
        padding: 30px 20px;
    }

}
.about {
    text-align: center;
    padding: 60px 80px;
    background-color: white;
    margin: 40px 80px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.about h2 {
    color: #0077ff;
    font-size: 35px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    color: #555;
    line-height: 1.8;
    max-width: 700px;
    margin: auto;
}
.skills {
    text-align: center;
    padding: 60px 80px;
}

.skills h2 {
    font-size: 35px;
    color: #0077ff;
    margin-bottom: 30px;
}

.skill-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    background: white;
    color: #333;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.skill:hover {
    background: #0077ff;
    color: white;
    transform: scale(1.05);
}
.projects {
    padding: 60px 80px;
    text-align: center;
}

.projects h2 {
    font-size: 35px;
    color: #0077ff;
    margin-bottom: 30px;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.project-card h3 {
    color: #0077ff;
    margin-bottom: 15px;
}

.project-card p {
    color: #555;
    line-height: 1.6;
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-size: 16px;
}
